.history
dist/
node_modules/
*.log
.DS_Store
abi.json

.env
!.env.example

# temporary copy hack
services/auth/modules
services/core/modules

services/nginx/*
!services/nginx/nginx.tmpl

services/eos-api/src/data/*
